.buttons {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2.5rem;

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;

    &:disabled {
      cursor: default;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.8);
    }

    &.playButton {
      background: var(--purple-400);
      border-radius: 1rem;
      height: 4rem;
      width: 4rem;

    }
  }
}

.currentEpisode {
  text-align: center;

  img {
    border-radius: 1.5rem;
  }

  span {
    display: block;
    line-height: 1.5rem;
    margin-top: 1rem;
    opacity: 0.6;
  }
  
  strong {
    display: block;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75rem;
    margin-top: 2rem;
  }
}

.playerContainer {
  align-items: center;
  background: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 3rem 4rem;
  width: 26.5rem;

  header {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  footer {
    align-self: stretch;
    &.empty {
      opacity: 0.5;
    }
  }
}

.emptyPlayer {
  align-items: center;
  background: linear-gradient(143.8deg, rgba(145, 100, 250, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1.5px dashed var(--purple-300);
  border-radius: 1.5rem;
  display: flex;
  height: 20rem;
  justify-content: center;
  padding: 4rem;
  text-align: center;
  width: 100%;
}

.progress {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  gap: 0.5rem;

  span {
    display: inline-block;
    text-align: center;
    width: 4rem;
  }

  .slider {
    flex: 1;

    .emptySlider {
      background: var(--purple-300);
      border-radius: 2px;
      height: 4px;
      width: 100%;
    }
  }
}